.container {
	display: flex;
	flex-direction: row;
	background-color: grey;
}

.item {
	background-color: #f1f1f1;
	margin: 10px;
	text-align: center;
}

.split-text {
	word-wrap: break-word;
	width: 500px;
}
