label {
	font-size: 14px;
	font-weight: 600;
	color: rgb(34, 34, 34);
}

.login-button-section {
	width: 100%;
	height: 30%;
	justify-content: center;
	align-items: center;
}

#create-account {
	margin-top: 1rem;
	text-align: center;
}

.login-box {
	margin-left: auto;
	margin-right: auto;
	margin-top: 5rem;
	width: 40%;
}
