@import "~bootstrap/scss/bootstrap";
@import "colors";

html,
body,
#root {
	height: 100%;
	margin: 0;
}

.carousel,
.carousel-item,
.active {
	height: 100%;
}
.carousel-inner {
	height: 100%;
}

.carousel-indicators,
.carousel-caption {
	margin-bottom: 50px;
}

.header {
	text-align: center;
}

span {
	&.dangerText {
		color: #dc3545;
	}

	&.infoText {
		color: #17a2b8;
		font-weight: bold;
	}
}
